 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Etienne is a software developer who's worked on all tiers (server, web, mobile and embedded) of large scale software platforms. He has been the Android tech lead for PasswordBox, which was acquired by Intel Security in 2014. He is now Android tech lead for TrueKey, Intel's digital identity manager.</p>
                </div>
                <div class="col-lg-4">
                    <p>Previously, Etienne worked on projects ranging from high-availability stock trading software platforms, all the way to large scale municipal bike sharing systems (London's cycle Hire amongst others). He lives in Montreal with his wife and daughter, and speaks French and English fluently.</p>
                </div>
<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline"> <i class="fa fa-download"></i> Download Theme </a>
                </div>
-->
            </div>
        </div>
    </section>
